<div>
    <div class="row">
        <h4 class="text-center mt-3">Añadir datos</h4>    
        <!-- <form [formGroup]="createDuty" class="form-horizontal col-md-6 border p-3" (ngSubmit)="addDuty()"> -->
        <form [formGroup]="formDuty" class="form-horizontal col-md-6 border p-3" (ngSubmit)="addDuty()">
            <div class="form-group mb-3">
                <label for="description" class="control-label">Descripción</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="description" 
                    name="description"               
                    placeholder="Agrega la descripción"
                    formControlName="description"
                >
                <div *ngIf="formDuty.get('description').touched">
                    <div class="alert alert-danger mt-1" *ngIf="formDuty.get('description').errors?.required">
                        <div class="container-error-message" >Descripción es requerida</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="commitmentDate" class="control-label mt-3 ">Fecha de compromiso</label>
                <div class="">
                    <input 
                        type="date" 
                        class="form-control" 
                        id="commitmentDate" 
                        name="commitmentDate"
                        placeholder="Agrega la fecha de compromiso"
                        formControlName="commitmentDate"
                    >
                </div>
                
            </div>
            <div class="form-group d-flex justify-content-end">
                <button type="submit" class="btn btn-primary mt-3">Agregar</button>
            </div>
            
        </form>
    </div>

    <app-add-result></app-add-result>
</div>
