<div class="row mt-5">
    <h3 class="text-center">Registro de nuevo usuario</h3>
    <form class="col-md-4" [formGroup]="signupForm" (ngSubmit)="onSaveForm()">
        <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico </label>
            <input 
                type="email" 
                class="form-control" 
                id="email" 
                aria-describedby="emailHelp" 
                formControlName="email" 
                
            >

            <div *ngIf="signupForm.get('email').touched">
                <div class="alert alert-danger mt-1" *ngIf="signupForm.get('email').errors?.required">
                    <div class="container-error-message">Correo electrónico es requerido</div>
                </div>
                <div class="alert alert-danger mt-1" *ngIf="signupForm.get('email').errors?.pattern">
                    <div class="container-error-message">Correo inválido</div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input 
                type="password" 
                class="form-control" 
                id="exampleInputPassword1"
                formControlName="password"
            >

            <div *ngIf="signupForm.get('password').touched">
                <div class="alert alert-danger mt-1" *ngIf="signupForm.get('password').errors?.required">
                    <div class="container-error-message">Contraseña es requerida</div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Registrarse</button>
    </form>

    <a [routerLink]="['/module/auth']" routerLinkActive="active" class="alc text-center">Go back</a>
    
</div>
